html {
  font-size: 112.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body{
background: #2083CF;
background: radial-gradient(at center, #2083CF, #887EE9);
background-attachment: fixed;
}

.big_big{
    display: flex;
    flex-direction: column;
}

.container_main{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

@media (max-width: 40rem){
    .nav-media{
        flex-direction: row;
        align-items: flex-start;
        display: flex;
    }
    .icon{
        display: none;
    }
    .dissapear{
        display: none;
    }
    nav{
        display: none;
    }
    .email_link{
        padding-bottom: 20px;
    }
}


h1 {
  font-size: 3.815rem;
font-size: clamp(3.815rem, 2.4370202020202014rem + 3.626262626262627vw, 5.61rem);
}

h2{
  font-size: 3.052rem;
font-size: clamp(3.052rem, 2.1637979797979803rem + 2.3373737373737367vw, 4.209rem);
}

h3{
  font-size: 2.441rem;
font-size: clamp(2.441rem, 1.891343434343434rem + 1.446464646464647vw, 3.157rem);
}

h4{
  font-size: 1.953rem;
font-size: clamp(1.953rem, 1.6336464646464646rem + 0.8404040404040408vw, 2.369rem);
}


h1, h2, h3, h4, h5, h6{
    margin: 2rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
    text-align: right;
    padding-top: 3rem;
}

p{
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



.boxy{
    flex-direction: column;
    display: flex;
    justify-content: first baseline;
    width: 100%;
}

.boxy_left{
    margin-left: 3rem;
    flex-direction: column;
    display: flex;
    justify-content: first baseline;
    width: 100%;
}


.name{
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    border-bottom: 5px solid black;
}

.about{
    height: 60rem;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    border-bottom: 5px solid black;
}

.experience{
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    border-bottom: 5px solid black;
}

.projects{
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    border-bottom: 5px solid black;
}


nav{
background: #C943D9;
background: linear-gradient(0deg, #C943D9, #7446DF);
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    font-size: clamp(1rem, 2.5vw, 1.2rem);

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-left: 3rem;
    padding-top: 60px;
}

li{
    padding-bottom: 40px;
}

.top_space_large{
    padding-top: 3.25rem;
}

.top_space_small{
    padding-top: 1.25rem;
}

.top_space{
    padding-top: 2.5rem;
}

.much_space{
    margin-top: 9rem;
}

.button{
  width: clamp(50px, 2.5vw, 100px);

  text-align: center;
  width: 100px;
  height: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 10px 10px;
  padding: 20px 20px;
  margin: 4px;
  
  transition: 0.1s;
  color: black;
  text-decoration: none;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button:hover{
    background: #2083CF;
    background: radial-gradient(at center, #2083CF, #887EE9);
    box-shadow: 0.2rem 0.1rem 0.3rem 0.1rem rgb(49, 49, 49);
    transition: 0.05s;
    transform: scale(0.99)
}

.text_right{
    display: flex;
    justify-content: flex-end;
}

.text_left{
    display: flex;
}

.img_right{
    margin-right: 3rem;
}



img{
    width: 3.815rem;
    width: clamp(3.815rem, 2.4370202020202014rem + 30.626262626262627vw, 50.61rem);
}

.img_left{
    margin-left: 12rem;
    margin-right: 0px;
}

.mad_libs{
    margin-top: 16rem;
    margin-left: 3rem;
    border-radius: 15px 15px;
    border: 2px solid black;
    box-shadow: -0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.band_img{
    margin-top: 11rem;
    margin-left: 3rem;
    border-radius: 15px 15px;
    border: 2px solid black;
    box-shadow: -0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.jonah{
    margin-top: 9rem;
    margin-left: 3rem;
    border-radius: 15px 15px;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.farms{
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    border-radius: 15px 15px;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.rugby{
    margin-bottom: 3rem;
    margin-left: 3rem;
    border-radius: 15px 15px;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.email_link {
  border: 1px solid #12466d;
  display: flex;
  display: inline-block;
  text-align: center;
  width: 125px;
  height: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 25px 25px;
  padding: 15px 10px 35px;
  margin: 4px;
  transition: 0.1s;
}

.email_link:hover {

  background: #2083CF;
  background: radial-gradient(at center, #2083CF, #887EE9);
  box-shadow: 0.2rem 0.1rem 0.3rem 0.1rem rgb(49, 49, 49);
  transform: scale(0.95);
  transition: 0.2s;
}

.email_text{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

    text-decoration: none;
    color: black;
    padding-left: 0px;

}